/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		IE ONLY STYLES
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	#kit-order {
		position: absolute;
		top: 90px;
		}
			
	#no-items td {
		padding-top: 15px !important;
		}
			